//variables
$bg-body: #F3F2EF;
$gray-color: rgba(0,0,0,0.6);
$bg-btn: rgba(0,0,0,0.08);
$primary-color: #0a66c2;
$box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.20);
$max-width: 1128px;


//mixins and functions
@mixin secondary-text($val) {
    font-size: $val;
    color: $gray-color;
}
@mixin primary-text($val) {
    font-size: $val;
    color: $primary-color;
}
@mixin btn {
    display: inline-block;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    background: none;
    color: $gray-color;

    &:hover{
        background-color: $bg-btn;
    }
}