//variables
$bg-body: #F3F2EF;
$gray-color: rgba(0,0,0,0.6);
$bg-light: rgba(0,0,0,0.1);
$primary-color: #0a66c2;
$box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.2);
$max-width: 1128px;


//mixins and functions
@mixin btn {
    display: inline-block;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    background: none;
    color: $gray-color;

    &:hover{
        background-color: $bg-light;
    }
}