@import "config";

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
    list-style-type: none;
    background: transparent;
}
html{
    font-size: 87.5%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}
body{
    background-color: $bg-body;
}
button, i, img{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: unset;
}



//utilities
.wrapper{
    max-width: $max-width;
    margin: 0 auto;
}

.btn{
    @include btn;
    display: flex;
    align-items: center;
    gap: 1rem;

    i{
        font-size: 1.5rem;
    }
}


//media queries
@media (max-width: 768px){
    html{
        font-size: 75%;
    }
}

@media (max-width: 450px){
    .btn{
        gap: 0.5rem;
        i{
            font-size: 1rem;
        }
    }
}
