@import "config";

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
    list-style-type: none;
    background: transparent;
}
html{
    font-size: 87.5%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}
body{
    background-color: $bg-body;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: unset;
}



//utilities
.btn{
    @include btn;
}

.wrapper{
    max-width: $max-width;
    margin: 0 auto;
}



//media queries
@media (max-width: 1128px){
    .wrapper{
        padding-right: 0.7rem;
        padding-left: 0.7rem;
    }
}

@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }
}
