@import "config";

%d-flex {
  display: flex;
  align-items: center;
}

.login-page {
  min-height: 100vh;

  header {
    padding: 1rem;
    @extend %d-flex;
    justify-content: space-between;

    img {
      width: 135px;
      height: 45px;
    }

    .navbar {
      @extend %d-flex;
      justify-content: center;
      gap: 1rem;
      font-size: 1.3rem;

      .join-btn {
        @include btn;

        &:hover {
          color: rgba(0, 0, 0, 0.9);
        }
      }

      .signin-btn {
        color: $primary-color;
        box-shadow: inset 0 0 0 1px $primary-color;
        padding: 0.8rem 1.2rem;
        border-radius: 2rem;

        &:hover {
          background-color: rgba(112, 103, 249, 0.13);
          box-shadow: inset 0 0 0 2px $primary-color;
        }
      }
    }
  }

  section {
    padding: 1rem;

    & > img {
      width: 700px;
      position: absolute;
      right: -60px;
      top: 100px;
      z-index: -1;
    }

    .hero {
      width: 60%;
      margin-top: 7rem;

      h1 {
        font-size: 4rem;
        font-weight: 200;
        color: $primary-color;
        margin-bottom: 5rem;
      }

      button {
        @extend %d-flex;
        justify-content: center;
        gap: 1rem;
        background-color: $primary-color;
        color: white;
        width: 90%;
        max-width: 400px;
        padding: 1.1rem;
        border-radius: 2.5rem;
        font-size: 1.3rem;

        img {
          width: 2rem;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .login-page {
    .wrapper {
      header {
        .navbar {
          gap: 0.5rem;
        }
      }

      section {
        text-align: center;

        & > img {
          width: 80%;
          position: initial;
          right: 0;
          top: 0;
        }

        .hero {
          width: 100%;
          margin-top: 4rem;
          margin-bottom: 4rem;

          button {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
